# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
*.pid
*.seed
*.pid.lock

# Coverage & test output
coverage
*.lcov
.nyc_output

# Build output
build/
dist/
out/
.next
.nuxt
.vuepress/dist
.web-build/
.temp

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Caches
.cache
.parcel-cache
.rpt2_cache/
.rts2_cache_*/
.npm
.eslintcache
.stylelintcache
.grunt
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.metro-health-check*

# Compiled files
lib-cov
*.tgz

# TypeScript
*.tsbuildinfo

# REPL & debug history
.node_repl_history

# Environment variables
.env
.env*.local

# MacOS
.DS_Store

# Native keys & certificates
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Yarn integrity
.yarn-integrity

# Node.js & bundler files
.lock-wscript

# VSCode testing
.vscode-test

# Expo
.expo/
expo-env.d.ts
